<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="container">
        <h2>Edit Your Post</h2>
        <p>Post Id: <%= p.id %></p>
        <p>Post Username: <%= p.username%></p>
        <form action="http://localhost:3000/posts/<%=p.id%>?_method=PATCH" method="post">
            <textarea rows="10" cols="40" name="content"><%= p.content%></textarea> <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>
