<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="container">
        <h1>Create a New Post</h1>
        <form action="http://localhost:3000/posts" method="post">
            <input type="text" placeholder="Enter username" name="username"><br>
            <textarea placeholder="Write your post" name="content" rows="10" cols="40"></textarea><br>
            <button>Submit Post</button>
        </form>
    </div>
    <script src="/theme-toggle.js"></script>
</body>
</html>
