:root {
    --background-light: #f4f4f4;
    --background-dark: #121212;
    --text-light: #000;
    --text-dark: #fff;
    --primary-color: #007BFF;
    --secondary-color: #FF6347;
    --accent-light: #28A745;
    --accent-dark: #218838;
    --form-background-light: #FAEBD7;
    --form-background-dark: #2C2C2C;
    --border-light: #333;
    --border-dark: #444;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    animation: fadeInDown 1s ease-in-out;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    border: 2px solid var(--border-light);
    background-color: var(--form-background-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

body.dark-mode form {
    background-color: var(--form-background-dark);
    border: 2px solid var(--border-dark);
}

input, textarea {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    border-color: var(--primary-color);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(0,123,255,0.6);
}

button {
    display: block;
    width: calc(100% - 20px);
    margin: 20px auto 0;
    padding: 10px;
    background: linear-gradient(to left, yellow, green);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(to left, green, yellow);
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
